* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

p {
    color: #777777;
}

body {
    font-family: 'Work Sans', sans-serif;

}

/* section one styles */
.first-section {
    background-color: #fff4e7;
    background-image: url('./images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    min-height: 100vh;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin: 0 230px;
    padding-top: 50px;
    margin-bottom: 150px;

}

.header h2 {
    font-weight: bold;
    color: rgb(46, 46, 46);
    font-size: 45px;
    letter-spacing: -4px;
}

.span-1 {
    color: rgb(199, 50, 50);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    border-left: 3px solid rgb(199, 50, 50);
    border-radius: 2px;
}

nav ul li {
    font-size: 18px;
    font-weight: 650;
    margin-left: 6px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(46, 46, 46);
}


.title-image-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-section {
    text-align: center;

}

.title-section h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}

.title-paragraph {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 32px;
    line-height: 30px;
    color: #777777;
}

.btn {
    width: 170px;
    height: 54px;
    border-style: none;
    background-color: #FF900E;
    /* padding: 0 30px; */
    color: white;
    font-size: 18px;
    border-radius: 6px;
    margin-bottom: 50px;
    transition: 0.2s;
}

.btn:hover {
    background-color: rgb(199, 50, 50);

}

.image-section img {
    width: 1440px;
    height: 700px;
    margin-bottom: 60px;
}


/* section one styles end */

/* section two styles */
.image-two-title-section {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

}

.images-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    /* grid-ccolumn-gap: 24px; */
    grid-column-gap: 24px;


}

.second-section {
    margin: 70px 250px 50px 250px;

}

.title-two {
    margin-right: 80px;


}

.title-two h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #777777;
    margin-bottom: 20px;

}

.title-two p {
    color: #a7a7a7;

}

.of-our {
    color: rgb(32, 32, 32);
    font-weight: 600;
}

.features {
    color: #FF900E;
    font-weight: bold;
}

.title-two p {
    margin-bottom: 30px;
}

/* extra section */
.plan-container {
    margin: 100px 0;
}

.plan {
    text-align: center;
    font-size: 40px;

    margin-bottom: 50px;
}

.all-icon-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0 200px;
}

.building {
    text-align: center;

}

.all-title {
    font-size: 30px;
    color: rgb(27, 27, 27);
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
    margin-top: 15px;
}

.all-discription {
    font-size: 25px;

    color: rgb(138, 138, 138);
}

.plan-container {
    margin-bottom: 150px;
}


/* third section */
.title-image-third-section {
    display: flex;
    flex-direction: column;
}

.third-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    margin: 90px 230px;
    gap: 120px;
}



.title-third h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    letter-spacing: -1px;
    border-left: 5px solid #FF900E;
    /* border-radius: 5px; */
    padding: 0 15px;
    color: rgb(41, 41, 41);
    margin-bottom: 24px;
}

.title-third p {
    font-size: 18px;
    margin-bottom: 32px;

}

.box-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-box-title-paragraph {
    border: 1px solid red;
    padding: 30px 30px;
    box-shadow: -1px -1px 17px -11px rgba(0, 0, 0, 0.28);
    border-radius: 8px;
    border-style: none;
    width: 650px;
    height: 160px;
}

.info-title {
    margin-bottom: 10px;
    color: #FF900E;
}

.btn-two {

    position: relative;
    bottom: 110px;
    width: 300px;
    height: 175px;
    right: 80px;
    border-radius: 8px;

}

.experience {
    font-size: 25px;
    position: relative;
    bottom: 1px;
}

.ten-years {
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;

}

.info-box-title-paragraph h4 {
    font-size: 22px;
}

/* fourth section */
.fourth-section {
    margin-bottom: 168px;
}

.fact-title {
    margin: 0 230px;
}

.fact-section {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin: 90px 230px;
}

.box-1 {
    width: 241.83px;
    height: 241.83px;
    border: 2px solid #FF900E;
    border-radius: 8px;
    padding-top: 50px;
    transition: 0.3s;

}

.box-1:hover {
    background-color: rgb(255, 185, 139);
    border-style: none;

}

.number:hover {
    color: white;

}

.fact-box {

    text-align: center;
}

.number {
    font-size: 45px;
    color: #a10000;
    transition: 0.3s;
}

.box-1 p {
    font-size: 18px;
    font-weight: 550;
    color: #424242;
}

.fact-title h2 {
    font-size: 44px;
    margin-bottom: 16px;
    letter-spacing: -1px;
}

/* fith section */
.sponsors-title {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sponsors-title h2 {
    margin-bottom: 10px;
}

.sponsors-title h2 {
    font-size: 45px;
    letter-spacing: -2px;
    color: #424242;
}

.logo-section {
    gap: 150px;
    filter: grayscale(100%);
}

.footer {

    width: 1440px;
    height: 100px;
    background-color: #f5e5d4;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    margin-bottom: 100px;
    border-radius: 5px;
    color: #777777
}

.footer-info {
    display: flex;
    vertical-align: middle;
    position: relative;
    top: 40px;
    flex-direction: column;



}


