* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {
    font-family: 'Work Sans', sans-serif;

}

/* section one styles */
.first-section {
    background-color: #ffe9d0;
    background-image: url('../images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin: 0 230px;
    padding-top: 50px;
    margin-bottom: 150px;

}

.header h2 {
    font-weight: bold;
    color: rgb(46, 46, 46);
    font-size: 45px;
    letter-spacing: -4px;
}

.span-1 {
    color: rgb(199, 50, 50);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    border-left: 3px solid rgb(199, 50, 50);
    border-radius: 2px;
}

nav ul li {
    font-size: 18px;
    font-weight: 650;
    margin-left: 6px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(46, 46, 46);
}


.title-image-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-section {
    text-align: center;

}

.title-section h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}

.title-paragraph {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 32px;
}

.btn {
    width: 170px;
    height: 54px;
    border-style: none;
    background-color: #FF900E;
    /* padding: 0 30px; */
    color: white;
    font-size: 18px;
    border-radius: 6px;
    margin-bottom: 50px;
    transition: 0.2s;
}

.btn:hover {
    background-color: rgb(199, 50, 50);

}

.image-section img {
    width: 1440px;
    height: 700px;
    margin-bottom: 60px;
}


/* section one styles end */

/* section two styles */
.image-two-title-section {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

}

.images-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    /* grid-ccolumn-gap: 24px; */
    grid-column-gap: 24px;


}

.second-section {
    margin: 70px 250px 50px 250px;

}

.title-two {
    margin-right: 80px;


}

.title-two h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #777777;
    margin-bottom: 20px;

}

.title-two p {
    color: #a7a7a7;

}

.of-our {
    color: rgb(32, 32, 32);
    font-weight: 600;
}

.features {
    color: #FF900E;
    font-weight: bold;
}

.title-two p {
    margin-bottom: 30px;
}

/* third section */
.title-image-third-section {
    display: flex;
    flex-direction: column;
}

.third-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    margin: 90px 230px;
    gap: 120px;
}



.title-third h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    letter-spacing: -1px;
    border-left: 5px solid #FF900E;
    border-radius: 5px;
    padding: 0 15px;
    color: rgb(41, 41, 41);
    margin-bottom: 24px;
}

.title-third p {
    font-size: 18px;
    margin-bottom: 32px;

}

.box-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-box-title-paragraph {
    border: 1px solid red;
    padding: 30px 30px;
    box-shadow: -1px -1px 17px -11px rgba(0, 0, 0, 0.28);
    border-radius: 8px;
    border-style: none;
    width: 650px;
    height: 160px;
}

.info-title {
    margin-bottom: 10px;
    color: #FF900E;
}

.btn-two {
    
    position: relative;
    bottom: 110px;
    width: 300px;
    height: 175px;
    right: 80px;
    border-radius: 8px;
 
}

.experience{
  font-size: 25px;
  position: relative;
  bottom: 1px;
}
.ten-years{
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    
}
.info-box-title-paragraph h4{
    font-size: 22px;
}